.card {
    width: 100px;
    height: auto;
    background-color: var(--tertiary);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    pointer-events: all;
}

.card .drag-texture {
    width: 90%;
    height: 20px;
    background-image: repeating-linear-gradient(90deg, var(--primary) 0% 50%,
     var(--tertiary) 50% 100%);
     background-repeat: repeat;
     background-size: 4px;
     border-radius: 5px;
     cursor: grab;
     user-select: none;
}
